<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script
    type="text/javascript"
    src="https://code.jquery.com/jquery-1.11.3.js"
     ></script>
    <link rel="stylesheet" href="../assets/css/style.css">
    <title>Signed Up</title>
</head>
<body>
    <h1>You're signed up successfully!</h1>
    <p>Go to <a href="/">homepage</a> and start checking the photos from our community.</p>
    <p><a href="/uploadImage">Upload</a> a photo.</p>
</body>
</html>