<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" 
        crossorigin="anonymous"> 
    <script
        type="text/javascript"
        src="https://code.jquery.com/jquery-1.11.3.js"
     ></script>
     <link rel="stylesheet" href="css/style.css">
    <title>Create an account</title>
</head>


<body>

    <nav class="navbar navbar-expand-lg navbar-light mt-3 mb-2">
        <div class="container-fluid">
        <a class="navbar-brand fs-4 ms-4" href="/" >Photo Sharing App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <div class="d-flex d-flex collapse navbar-collapse justify-content-end me-auto">
            <% if (authenticated){ %>
              <form action="/logout" method="POST" id="logout"></form>
              <a onclick="document.getElementById('logout').submit();" class="btn btn-outline-primary mx-4">Log out</a>
            
              <a href="/uploadImage" class="btn btn-outline-primary mx-4">Upload an Image</a>
            <%}
            else{ %>
              <a href="/login" class="btn btn-primary mx-2">Log in</a>
            <a href="/sign_up" class="btn btn-primary ms-2 me-4">Sign Up</a>
            <%}%>
          </div>
        </div>
    </div>
      </nav>


      
    <p class="text-center fs-2 mt-5"><strong>Don't have an account?</strong></p>
    <p class="text-center fs-3 mt-3 mb-5">Sign up now!</p>

    <div class="card col-lg-5 mx-auto">    
        <form action = "/sign_up" method="POST">
            <div class="container">
                <div class="row mt-3">
                    <div class="col-lg-5">
                        <div class="form-group my-1">
                        <input type="text" class="form-control" id="firstName" name="firstName" aria-describedby="firstName" placeholder="First Name">
                        </div>
                    </div>
                    <div class="col-lg-7">        
                        <div class="form-group my-1">
                            <input type="text" class="form-control" id="lastName" name="lastName" aria-describedby="lastName" placeholder="Last Name">
                        </div>
                    </div>  

                    <div class="col-lg">        
                        <div class="form-group my-3">
                            <input type="email" class="form-control" id="email" name="email" aria-describedby="email" placeholder="E-Mail Address">
                        </div>
                        <div class="form-group my-3">
                            <input type="text" class="form-control" id="username" name="username" aria-describedby="username" placeholder="Username" required>
                        </div> 
                        <div class="form-group mt-3 mb-4">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
                        </div>
                    </div>     
                </div>

                <div class="row-lg-3 text-center my-4">             
                            <button type="submit" class="btn btn-primary btn-lg"><strong>Create an Account</strong></button>  
                </div>         
            </div> 
        </form> 
    </div>
    <p class="text-center fs-6 mt-3 mb-5">Already have an account with us? <a href="/login">Log in now.</a></p>
   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" 
    crossorigin="anonymous"></script>

</body>
</html>